.navBar {
    display: flex;
    align-content: center;
    height: 100px;
    margin: 30px 100px 0px 100px;
}

.loginBtn{
    color: var(--color-primary);
    font-weight: bold;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    width: 120px;
    height:50px;
    align-self: center;
    transition: transform .1s ease-out;
}

.loginBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}